.about-container {
    background: linear-gradient(135deg, #2c3e50, #2b551c);
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    padding: 4rem;
    text-align: center;
}


.about-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-person {
    background: rgba(44, 62, 80, 0.7);
    border: 2px solid rgba(151, 206, 76, 0.5);
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(151, 206, 76, 0.5);
    animation: glow 2sease-in-out infinite alternate;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.about-person h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.about-person p {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.about-person p:hover {
    transform: scale(1.05);
    text-shadow: 2px 2px 8px rgba(0, 255, 0, 0.7);
}


.about-person img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(151, 206, 76, 0.5);
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(151, 206, 76, 0.5);
    animation: glow 2sease-in-out infinite alternate;
}


@media (max-width: 768px) {
    .about-person {
        flex-direction: column;
        text-align: center;
    }

    .about-person p {
        text-align: center;
    }
}